/* Barra de navegación general */
.navbar {
  background-color: #000052;
  border-radius: 5px;
  margin: 5px;
  height: 45px;
  font-size: 100%;
  font-weight: bold;
}

/* Punto al inicio */
.navbar-default .navbar-brand:hover {
  background: white;
}

/* Letras despues de */
.navbar-default .navbar-brand {
  color: black;
  background: transparent;
}

/* Punto de incio en LOGO */
#logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.navbar-default .navbar-nav>.active>a {
  color: white;
  background: transparent;
}

.navbar-default .navbar-nav>.active>a:hover {
  color: #3B3B3B;
  background: white;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  position: relative;
}

.navbar-default .navbar-nav>li>a::before {
  content: "";
  position: absolute;
  left: -5px; /* Ajustar la posición izquierda de la línea */
  top: 50%; /* Ajustar la posición vertical de la línea */
  height: 15px; /* Ajustar la altura de la línea */
  width: 1px; /* Ajustar el ancho de la línea */
  background-color: white;
  transform: translateY(-50%); /* Centrar verticalmente la línea */
}

.navbar-default .navbar-nav>li>a:hover {
  /* Color de letra cuando está el cursor */
  color: #3B3B3B;
  background: white;
}
.nav>li>a {
  background-color: #000052;
}
.nav>li{
  background-color: #000052;  
}
/* Cuerpo */
.main {
  flex: 1; /* El contenido principal ocupa todo el espacio disponible */
  background: transparent;
  font-size: 14px;
  border-radius: 5px;
  max-width: calc(100% - 220px); /* Ajusta el valor según el ancho de la barra lateral */
  text-align: justify;
  padding: 20px;
  margin: 10px;
  margin-bottom: 100px; /* Ajusta el valor según la altura del footer */
}


.main h1 {
  font-size: 26px;
}

.main h3 {
  font-size: 18px;
}

/* Centrar la imagen horizontalmente */
.image-container {
  display: flex;
  justify-content: center;
}

.image-container img {
    max-width: 400px;
    max-height: 400px;
}
.main2 {
  flex: 1; /* El contenido principal ocupa todo el espacio disponible */
  background: transparent;
  font-size: 14px;
  border-radius: 5px;
  max-width: calc(100% - 220px); /* Ajusta el valor según el ancho de la barra lateral */
  text-align: justify;
  padding: 20px;
  margin: 10px;
  margin-bottom: 15px; /* Ajusta el valor según la altura del footer */
  border: 1px solid transparent;
  position: relative;
}
.main2 h1 {
  font-size: 26px;
}

.main2 h3 {
  transition: opacity 0.3s, transform 0.3s;
  font-size: 18px;
}
.main2:hover h3 {
  transform: scale(1.005);
}
.main2 img {
  transition: opacity 0.3s, transform 0.3s;
}
.main2:hover img {
  opacity: 0.9;
  transform: scale(1.005);
}
.main2::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 1px solid #3B3B3B;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  z-index: -1;
  border-radius: 10px;
}
.main2:hover::before {
  opacity: 1;
  transform: scale(1.005);
}
/* Pie de página */
.footer {
  background-color: rgba(41, 41, 41, 0.9); /* Color de fondo con opacidad ajustable */
  color: white;
  padding: 8px;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  float: left; /* Añade float para que el pie de página no interfiera con otros elementos */
  clear: both; /* Limpia el float para evitar que otros elementos floten alrededor */
  margin-bottom: 0; /* Elimina el margen inferior para evitar que el contenido se coloque debajo del footer */
}
#contacto {
  line-height: 0.5;
}
.footer a.link {
  color: white;
  text-decoration: none;
}

.footer a.link:hover {
  text-decoration: underline;
}

.footer i {
  margin: 0 10px;
}
.footer h2 {
  margin-top: 0;
  display: inline-block;
  position: relative;
  font-size: 14px;
}
.footer h2::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000052; /* Color de la línea */
}

/*Panel lateral */
.sidebar {
  width: 200px;
  background-color: #f1f1f1;
  padding: 10px;
  position: fixed;
  border-radius: 5px;
  top: 75px;
  right: 5px;
  bottom: 0;
  overflow-y: auto;
  z-index: 100; /* Añade una propiedad z-index para que el panel lateral esté por encima del contenido principal */
  margin-bottom: 150px;
  float: right; /* Añade float para que el panel lateral no interfiera con otros elementos */
}

.sidebar h3 {
  margin-top: 0;
  position: relative;
}
.sidebar h3::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000052; /* Color de la línea */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
}
.sidebar-imagen {
  transition: opacity 0.3s, transform 0.3s;
}

.sidebar-enlace {
  transition: opacity 0.3s, transform 0.3s;
}

.sidebar-imagen:hover,
.sidebar-enlace:hover {
  opacity: 0.9;
  transform: scale(1.005);
}

.sidebar-li::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 1px solid #3B3B3B;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  z-index: -1;
  border-radius: 10px;
}

.sidebar-li:hover::before {
  opacity: 1;
  transform: scale(1.02);
}
/* Media Query para pantallas pequeñas */
@media screen and (max-width: 900px) {
  .container {
    flex-direction: column; /* El contenido se apila verticalmente en pantallas pequeñas */
  }

  .sidebar {
    display: none; /* Oculta la barra lateral en pantallas pequeñas */
  }
.main,
.main2 {
  max-width: 100%;
  margin-right: 0;
}
}
/*Barras de desplazamiento*/
html::-webkit-scrollbar {
  width: 1px; /* Ancho de la barra de desplazamiento */
}

html::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color del fondo de la barra de desplazamiento */
}

html::-webkit-scrollbar-thumb {
  background-color: #888; /* Color del "pulgarcito" de la barra de desplazamiento */
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color del "pulgarcito" al pasar el cursor por encima */
}
/* Personaliza la barra de desplazamiento */
.sidebar::-webkit-scrollbar {
  width: 1px; /* Ancho de la barra de desplazamiento */
}

.sidebar::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color del fondo de la barra de desplazamiento */
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #888; /* Color del "pulgarcito" de la barra de desplazamiento */
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color del "pulgarcito" al pasar el cursor por encima */
}
/*Curso*/
.curso h2 {
    padding-top: 59px;
    margin-top: -64px;
    font-size: 22px;
    margin-bottom: 13px;
    padding-left: 10px;
}
.curso h3 {
    padding-top: 59px;
    margin-top: -64px;
    font-size: 18px;
    margin-bottom: 13px;
    padding-left: 20px;
}
.curso h4 {
    padding-top: 59px;
    margin-top: -64px;
    font-size: 16px;
    margin-bottom: 13px;
    padding-left: 30px;
}
.curso p {
    padding-top: 59px;
    margin-top: -64px;
    font-size: 14px;
    margin-bottom: 13px;
    padding-left: 30px;
}
/*Links*/
a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.footer a {
  color: #f1f1f1;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
