/* Barra de navegación general */
.navbar {
  background-color: #000052;
  border-radius: 5px;
  margin: 5px;
  height: 45px;
  font-size: 100%;
  font-weight: bold;
}

/* Punto al inicio */
.navbar-default .navbar-brand:hover {
  background: white;
}

/* Letras despues de */
.navbar-default .navbar-brand {
  color: black;
  background: transparent;
}

/* Punto de incio en LOGO */
#logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.navbar-default .navbar-nav>.active>a {
  color: white;
  background: transparent;
}

.navbar-default .navbar-nav>.active>a:hover {
  color: #3B3B3B;
  background: white;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  position: relative;
}

.navbar-default .navbar-nav>li>a::before {
  content: "";
  position: absolute;
  left: -5px; /* Ajustar la posición izquierda de la línea */
  top: 50%; /* Ajustar la posición vertical de la línea */
  height: 15px; /* Ajustar la altura de la línea */
  width: 1px; /* Ajustar el ancho de la línea */
  background-color: white;
  transform: translateY(-50%); /* Centrar verticalmente la línea */
}

.navbar-default .navbar-nav>li>a:hover {
  /* Color de letra cuando está el cursor */
  color: #3B3B3B;
  background: white;
}

/* Cuerpo */
.main {
  flex: 1; /* El contenido principal ocupa todo el espacio disponible */
  background: transparent;
  font-size: 14px;
  border-radius: 5px;
  max-width: calc(100% - 220px); /* Ajusta el valor según el ancho de la barra lateral */
  text-align: justify;
  padding: 20px;
  margin: 10px;
  margin-bottom: 100px; /* Ajusta el valor según la altura del footer */
}


.main h1 {
  font-size: 26px;
}

.main h3 {
  font-size: 18px;
}

/* Pie de página */
.footer {
  background-color: #292929;
  color: white;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  float: left; /* Añade float para que el pie de página no interfiera con otros elementos */
  clear: both; /* Limpia el float para evitar que otros elementos floten alrededor */
  margin-bottom: 0; /* Elimina el margen inferior para evitar que el contenido se coloque debajo del footer */
}

.footer a.link {
  color: white;
  text-decoration: none;
}

.footer a.link:hover {
  text-decoration: underline;
}

.footer i {
  margin: 0 10px;
}

/*Panel lateral */
.sidebar {
  width: 200px;
  background-color: #f1f1f1;
  padding: 10px;
  position: fixed;
  border-radius: 5px;
  top: 75px;
  right: 5px;
  bottom: 0;
  overflow-y: auto;
  z-index: 100; /* Añade una propiedad z-index para que el panel lateral esté por encima del contenido principal */
  margin-bottom: 150px;
  float: right; /* Añade float para que el panel lateral no interfiera con otros elementos */
}

.sidebar h3 {
  margin-top: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
}

/* Media Query para pantallas pequeñas */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column; /* El contenido se apila verticalmente en pantallas pequeñas */
  }

  .sidebar {
    display: none; /* Oculta la barra lateral en pantallas pequeñas */
  }

  .main {
    max-width: 100%;
    margin-right: 0;
  }
}
