<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <div class="footer">
  <p></p>
  <h2>Contacto</h2>
  <p></p>
    <a href="mailto:tucorreo@ejemplo.com"><i class="far fa-envelope"></i> martinez.alvaro61@gmail.com</a>
    <p></p>
    <a href="https://github.com/tucuenta"><i class="fab fa-github"></i> Alvaro1899</a>
  </div>
</body>
</html>